/*styles.css*/
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-weight: 900;
}

h3 {  
  font-size: 1em;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
   user-drag: none;
}

.picker-container {
  width: 99%;
  position: relative;
  display: inline-block;
  z-index: 2;
  margin: 7px;
  padding: 15px;
  border-radius: 10px;
  background-color: #f0f0f0;
  border: 1px solid #a2a2a2;
}

.picker {
  position: inline-block;
  z-index: 3;
}

.container {
  width: 68vw;
  height: 78.5vh;
  margin-top: 10.5vh;
  margin-left: 16vw;
  position: absolute;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.ui-wrapper {
  width: 100%;
  height: 100%;
  background-color: #d1d1d1;
  border-radius: 35px;
  padding: 0.5%;
  position: relative;
  user-select: none;
}

.model-window {
  width: 50%;
  height: 100%;
  position: relative;
  background-color: #f0f0f0;
  border: 1px solid #a2a2a2;
  border-radius: 30px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}


.big-button {
  color: #666666;
  background-color: #666;
  border: 1px solid #444;
  border-radius: 50px;
  position: absolute;
  z-index: 15;
  transition: all .2s ease-in-out;
  cursor: pointer;
  margin-top: 3vh;
  margin-left: 16vw;
}

.big-button:hover {  
  background-color: #999;
}

.back {
  padding: 7px 10px;
  height: 50px;
  line-height: 50px;
  background-color: #444444;
}

.back:hover {  
  background-color: #333;
}

.big-button-right {
  color: #fff;
  background-color: #efba01;
  border: 1px solid #dcab01;
  padding: 13px;
  border-radius: 50px;
  margin: 13px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 15;
  transition: all .2s ease-in-out;
  cursor: pointer;
  margin-right: 16vw;
  margin-bottom: 3vh;
}

.big-button-right:hover {  
  background-color: #b68d01;
}

.big-button-right h3 {
  padding: 0px 12px;
}

.selection-name {
  color: #666666;
  background-color: #f0f0f099;
  border: 1px solid #66666699;
  padding: 13px;
  border-radius: 20px;
  margin: 13px;
  bottom: 0;
  position: absolute;
  z-index: 15;
  transition: all .2s ease-in-out;
}

#settings h1 {
  color: #5b5b5b;
  height: 60px;
  font-size: 30px;
  line-height: 30px;
  padding: 0px 0px 10px 10px ;
  border-bottom: 1px solid #a2a2a2;
  line-height: 50px;
}

#settings h4 {
  width: 135px;
  height: 30px;
  margin: 25px 0px 8px 7px;
  border-radius: 10px;
  line-height: 30px;
  color: #5b5b5b;
  background-color: #f0f0f0;
  border: 1px solid #a2a2a2;
  padding: 0px 0px 10px 8px ;
  display: inline-block;
}

#settings h4:first-child {
  margin: 8px 0px 8px 7px;
}

#settings h3 {
  width: 305px;
  height: 30px;
  margin: 5px 0px 8px 7px;
  border-radius: 10px;
  line-height: 30px;
  color: #5b5b5b;
  border: 1px solid #a2a2a2;
  padding: 0px 0px 10px 8px ;
  display: inline-block;
}

@media screen and (max-width: 991px) {
  #settings h3 {
    width: 235px;
    margin: 0px 0px 5px 7px;
  }
}


